#listings-header {
    padding-top: 4vh;
    padding-bottom: 6vh;
}

.listings-wrapper {
    text-align: left;
    padding: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listings-wrapper p {
    text-align: left;
    padding-left: 1vw;
}

#loader-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 30vh;
    align-items: center;
}

#loading-text {
    padding-top: 0.5vh;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }

  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 8px solid #4290F5;
    animation: prixClipFix 3s linear infinite ;
  }

  .loader::after{
    border-color: #000;
    animation: prixClipFix 3s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 7px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }      

.listing-contanier {
    text-decoration: none;
    width: 20%;
    margin-bottom: 10vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border: solid black 1px;
    position: relative;
    
}

.listing-contanier h4 {
    text-align: center;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: #000;
    font-size: 1.2em;
}

.listing-contanier a {
    text-decoration: none;
}

.listing-contanier img {
    width: 100%;
    height: auto;
}

.countdown-timer {
    padding-left: 1vw;
    color: #4A4A4A;
}

.location {
    padding-bottom: 2vh;
}

.listedon {
    padding: 0;
    margin: 0;
}

.listedon h4 {
    padding: 0;
    margin: 0;
}

.listingsite {
    color: #4290F5;
}