
#content-wrapper{
    padding-top: 5vh;
}

svg.svg-inline--fa.fa-check {
    padding-right: 3px;
    padding-top: 3px;
}

svg.svg-inline--fa.fa-user {
    padding-right: 3px;
    padding-top: 3px;
}

input#keepmeloggedin{
    margin-left: 8px;
}

#username label {
    display: flex;
    justify-content: left;
}

#username {
    padding-top: 1vh;
}

#username-span {
    color: rgb(218, 0, 0);
}

@media (max-width: 490px) {
.button-wrapper {
    padding-bottom: 5vh;
  }
}