/* .right-side {
    position: absolute;
    width: 60%;
    left: 40%;
}

.left-side {
    position: absolute;
    width: 40%;
}

svg.svg-inline--fa.fa-check {
    padding-right: 3px;
    padding-top: 3px;
}

svg.svg-inline--fa.fa-user {
    padding-right: 3px;
    padding-top: 3px;
}

input#keepmeloggedin{
    margin-left: 8px;
}

#username label {
    display: flex;
    justify-content: left;
}

#username {
    padding-top: 1vh;
}

 */
