#nav a{
    text-decoration: underline blue;
}

#middle-nav {
    position: relative;
    justify-content: center;
    left: 7vw;
}

#right-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 4.5vw;
}

#right-nav h3:nth-child(1) {
    padding-right: 2.4vw;
}

#left-nav {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 2.5vw;
}

.menu-background {
    position: absolute;
    background-color: black;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    height: 188vh;
}

#mobile-logo img {
    display: inline;
    position: relative;
    align-items: center;
    width: 73%;
    top: 2%;
    left: 12vw;
}

#logout {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.17em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline blue;
}

@media (max-width: 990px){
    #logout {
        font-size: 2.3em;
        z-index: 99;
        position: relative;
        top: 30vh;
    }
}