#nav a {
    text-decoration-color: blue;
    text-decoration-line: underline;
}

#middle-nav {
    justify-content: center;
}

#right-nav {
    display: flex;
    position: absolute;
    right: 4.5vw;
}

#right-nav #viewAccount:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#right-nav #viewAccount:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#right-nav #loginnav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#right-nav #loginnav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#right-nav #registernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#right-nav #registernav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#delete p {
    color: #fff;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-size: 1.17rem;
}

#delete p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#delete p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#right-nav #logout {
    color: #fff;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

#right-nav #logout:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#right-nav #logout:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#right-nav a:nth-child(1) {
    padding-right: 2.4vw;
}

/* Add animated underline effect for right-nav anchor headings (e.g., Listings on Account page) */
#right-nav a h3 {
    position: relative;
    display: inline-block;
}

#right-nav a h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#right-nav a h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#left-nav h3:nth-child(1):after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #4290F5;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#left-nav h3:nth-child(1):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#right-nav a:nth-child(1) {
    padding-right: 2.4vw;
}

#left-nav a:nth-child(1) {
    padding-right: 2.4vw;
}

#left-nav {
    display: flex;
    position: absolute;
    left: 4.5vw;
}

.menu-background {
    position: absolute;
    background-color: black;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    height: 188vh;
}

#mobile-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#mobile-logo img {
    display: block;
    width: 73%;
    height: auto;
}

#logout {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.17em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration-color: blue;
    text-decoration-line: underline;
}

#delete {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.17em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration-color: blue;
    text-decoration-line: underline;
    padding-right: 2.4vw;
}

#delete p {
    color: #fff;
}

@media (max-width: 990px) {
    #logout {
        font-size: 2.3em;
        z-index: 99;
        position: relative;
        top: 18vh;
    }

    #logout p {
        color: white;
    }
}
